<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1011654552126-ak8uk6q2hg1cafn12m15evh53f0k4bhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1011654552126-ak8uk6q2hg1cafn12m15evh53f0k4bhm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1011654552126-3am0efm8oltfnfofh85co6qtfd8ossb3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4YLD7BdivPPz_a0WpkYTh6dHeG43KDDE</string>
	<key>GCM_SENDER_ID</key>
	<string>1011654552126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icontds.ingez</string>
	<key>PROJECT_ID</key>
	<string>ingz-a5bbb</string>
	<key>STORAGE_BUCKET</key>
	<string>ingz-a5bbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011654552126:ios:b5d25021f0b4d86799ff6f</string>
</dict>
</plist>